# base - .gitignore - beg
"*
'*
*.[0123456789][0123456789]
*.lock
*.log
*.tgz
*~
.*
_*
temp*
tmp/
undefined

# nodejs
node_modules/
package-lock.json

# python
*.egg-info/
*.py[cod]
build/
dist/

# vscode
*.vsix

# !
!.gitconfig
!.github
!.gitignore
!.npmignore
# base - .gitignore - end

sqlite-autoconf-*
sqlmath_wasm.*
