*
.*
node_modules

!.npmignore
!CHANGELOG.md
!LICENSE
!README.md

!_sqlmath.napi*
!_sqlmath.shell*
!jslint.mjs
!lib_lightgbm*
!sqlmath.mjs
!sqlmath_browser.mjs
!sqlmath_custom.mjs
!sqlmath_wasm*
!test.mjs
