include .ci.sh
include .gitconfig
include .github/workflows/ci.yml
include .github/workflows/publish.yml
include .github/workflows/publish_pypi_test.yml
include .gitignore
include .npmignore
include CHANGELOG.md
include LICENSE
include MANIFEST.in
include PKG-INFO
include README.md
include asset_image_folder_open_solid.svg
include asset_image_github_brands.svg
include asset_image_logo_512.html
include asset_image_logo_512.png
include asset_image_logo_512.svg
include asset_sqlmath_external_rollup.js
include cpplint.py
include csslint.js
include indent.exe
include index.html
include jslint.mjs
include jslint_ci.sh
include libiconv2.dll
include libintl3.dll
include package.json
include pyproject.toml
include setup.py
include sqlmath.mjs
include sqlmath/__init__.py
include sqlmath_base.c
include sqlmath_browser.mjs
include sqlmath_custom.c
include sqlmath_custom.mjs
include sqlmath_external_pcre2.c
include sqlmath_external_sqlite.c
include sqlmath_external_zlib.c
include sqlmath_wrapper_wasm.js
include test.mjs
include test.py
include test_data_sinefit.csv
